.pokemonInfo {
	display: none;
}
.text-vertical-center {
	color: #F8F8FF;
}
#pokePicture {
	float: left;
	width: 50%;
}
#pokeDescription {
	background-color: #B22222;
	padding: 100px 0px;
	}
.pokePic {
	display: flex;
}
#pokemonContainer {
	display: inline-flex;
	width: 40%;
	margin-left:30%;
}