<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/stylish-portfolio.css" rel="stylesheet">
    <!-- Index CSS -->
    <link href="/stylesheets/index.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>PokePI</h1>
            <h3>What Pokemon are you??</h3>
            <br>

            <div>
              <label for="slider1">Dominance</label>
                <input id="slider1" type ="range" min ="-6.0" max="6.0" step ="0.2"/>
              <br>
              <label for="slider2">Extroversion</label>
                <input id="slider2" type ="range" min ="-6.0" max="6.0" step ="0.2"/>
              <br>
              <label for="slider3">Patience</label>
                <input id="slider3" type ="range" min ="-6.0" max="6.0" step ="0.2"/>
              <br>
              <label for="slider4">Formality</label>
                <input id="slider4" type ="range" min ="-6.0" max="6.0" step ="0.2"/>
            </div>
            <a href="#pokemon" class="btn btn-dark btn-lg">Find Your Pokemon</a>
        </div>
    </header>
<div class="pokemonInfo"> 
    <!-- Pokemon -->
    <section id="pokemon" class="pokemon">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Pokemon Type Here</h2>
                    <p>
                        Buffer text
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Paragraph Description here</h2>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Insert txt here</h1>
        </div>
    </aside>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>PokeBros</strong>
                    </h4>
                    <p>Pariveda Solutions
                        <br>Brahhh</p>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright PokeBros 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/index.js"></script>
</div>
</body>

</html>
