<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
  <label for="slider1">Dominance</label>
    <input id="slider1" type ="range" min ="-6.0" max="6.0" step ="0.2"/>
  <br>
  <label for="slider2">Extroversion</label>
    <input id="slider2" type ="range" min ="-6.0" max="6.0" step ="0.2"/>
  <br>
  <label for="slider3">Patience</label>
    <input id="slider3" type ="range" min ="-6.0" max="6.0" step ="0.2"/>
  <br>
  <label for="slider4">Formality</label>
    <input id="slider4" type ="range" min ="-6.0" max="6.0" step ="0.2"/>
</div>
